
<h1>Create a new post</h1>

<form action="/post" method="POST">

  <div class="form-group">
    </select>
  <div class="form-group">
    <label for="content"></label>
    <textarea type="text" class="form-control" id="showpost" name="data" required></textarea>
  </div>
  <body class="bb"></body>

  <button type="submit" class="postBtn">Post</button>
</form>