
<h1>Start the Conversation</h1>

<form action="/post" method="POST">

  <div class="form-group">
    </select>
  <div class="form-group">
    <label for="content"></label>
    <textarea type="text" class="form-control" id="showpost" name="data" required></textarea>
  </div>


  <button type="submit" class="postBtn">Post</button>
</form>
<body id="stc"></body>