
<h1>Create a new post</h1>

<form action="/post" method="POST">

  <div class="form-group">
    </select>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea type="text" class="form-control" id="content" name="data" required></textarea>
  </div>

  <button type="submit" class="postBtn">Post</button>
</form>