<ul>
    <% posts.forEach(function(post) { %>
      <form id="commentTxt" action="/comment" method="POST">
       <li id="postStyle"><%= post.data %></li>
       <input type="hidden" name="postId" value= "<%= post.id %>" />
      <textarea type="text" class="form-control" id="showcomment" name="data" required></textarea>
      <% post.comments.forEach(function(comment){ %>
        <li ><%= comment.data %></li>
        <% }) %> 
      <button type="submit" class="commentBtn">Comment</button>
    </form>
    <% }) %>
  </ul>
  <body class="postLook"></body>
