nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 0.3em;
}

h1 {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

#signup {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
#login {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
nav {
  text-align: right;
}
#hp {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
}
.postBtn {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  background-color: white;
  text-align: center;
}
.bb {
  background-image: url();
}
#hmpg {
  background: white;
}

#img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
}

bb {
  background: rgb(49, 48, 48);
}
.commentBtn {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  background-color: white;
  text-align: center;
  border: 2px solid black;
}
.postLook {
  background-color: white;
}

#showcomment {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: white;
  border: 2px solid black;
  width: 400px;
}

#postStyle {
  font-size: 40px;
  width: 300px;
  border: 2px solid black;
  padding: 40px;
  margin: 20px;
  text-align: center;
  list-style-type: none;
}
#text {
  list-style-type: none;
  border: 1px solid black;
  width: 300px;
}
#auth {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  float: left;
  font-size: 30px;
  border-bottom: 6px solid;
  margin-bottom: 50px;
  padding: 13px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#logbtn {
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
}
#lb {
  background: url(https://images.unsplash.com/photo-1558470598-a5dda9640f68?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80)
    no-repeat;
  background-size: cover;
  opacity: 0.7;
}
