nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: black;
}

#signup{
  color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;

}
#login {
  color:black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
}
nav {
  text-align: right;
}
#hp {
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
}
