nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 0.3em;
}

h1 {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

#signup {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
#login {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
nav {
  text-align: right;
}
#hp {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
}
.postBtn {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  background-color: white;
  text-align: center;
}
.bb {
  background-image: url();
}
#hmpg {
  background: rgb(71, 69, 69);
}

#img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

bb {
  background: rgb(49, 48, 48);
}
